.Rproj.user
.Rhistory
.RData
.DS_Store
*.Rcheck/
*.tar.gz
src/*.o
src/*.so
src/*.dll
src/rust/target/
src/rust/vendor/
src/.cargo/
src/Makevars
src/Makevars.win
research/library/*
!research/library/.gitkeep
